<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BreakTimer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <BreakTimer.Properties.Settings>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
            <setting name="timerHours" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="timerMinutes" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="timerSeconds" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="breakHours" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="breakMinutes" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="breakSeconds" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="playSound" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="forcedBreak" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="hideOnMinimize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="launchMinimized" serializeAs="String">
                <value>False</value>
            </setting>
        </BreakTimer.Properties.Settings>
    </userSettings>
</configuration>